<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
  <div class="border container-xl">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
      <div>
        <div>
          <form th:object="${orderSearch}" class="form-inline">
            <div class="form-group mb-2">
              <input type="text" th:field="*{memberName}" class="form-control" placeholder="회원명"/>
            </div>
            <div class="form-group mx-sm-1 mb-2">
              <select th:field="*{orderStatus}" class="form-control">
                <option value="">주문상태</option>
                <option th:each="status : ${T(jpabook.jpashop.domain.OrderStatus).values()}"
                        th:value="${status}"
                        th:text="${status}">option
                </option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary mb-2">검색</button>
          </form>
      </div>
      <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
          <tr>
            <th>시도명</th>
            <th>측정소명</th>
            <th>측정일시</th>
            <th>아황산가스 지수</th>
            <th>아황산가스 농도</th>
            <th>일산화탄소 지수</th>
            <th>일산화탄소 농도</th>
            <th>이산화질소 지수</th>
            <th>이산화질소 농도</th>
            <th>오존 지수</th>
            <th>오존 농도</th>
            <th>통합대기환경지수</th>
            <th>통합대기환경수치</th>
            <th>미세먼지(PM10) 24시간 등급자료</th>
            <th>미세먼지(PM10) 농도</th>
            <th>초미세먼지(PM2.5) 24시간 등급자료</th>
            <th>초미세먼지(PM2.5) 농도</th>
          </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${data.items}">
          <td th:text="${item.sidoName}"></td>
          <td th:text="${item.stationName}"></td>
          <td th:text="${item.dataTime}"></td>
          <td th:text="${item.so2Grade}"></td>
          <td th:text="${item.so2Value}"></td>
          <td th:text="${item.coGrade}"></td>
          <td th:text="${item.coValue}"></td>
          <td th:text="${item.no2Grade}"></td>
          <td th:text="${item.no2Value}"></td>
          <td th:text="${item.o3Grade}"></td>
          <td th:text="${item.o3Value}"></td>
          <td th:text="${item.khaiGrade}"></td>
          <td th:text="${item.khaiValue}"></td>
          <td th:text="${item.pm10Grade}"></td>
          <td th:text="${item.pm10Value}"></td>
          <td th:text="${item.pm25Grade}"></td>
          <td th:text="${item.pm25Value}"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
  </div> <!-- /container -->
</body>
<script>
  function cancel(id) {
    // var form = document.createElement("form");
    // form.setAttribute("method", "post");
    // form.setAttribute("action", "/orders/" + id + "/cancel");
    // document.body.appendChild(form);
    // form.submit();
  }
</script>
</html>